.menu-hamburguesa{
    width: 4rem;
    height: 4rem;
    float: right;
    z-index: -1;
    display: none;
}

.contenedor-x{
    display: none;
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    z-index: -1;

}

.menu-img{
    width: 100%;
    object-fit: contain;
}
.icon-cerrar{
    width: 100%;
}


@media (max-width: 1250px) {
    nav{
       display: none;
       flex-direction: column;
       width: 30%;
    }
    #menu-principal{
        display: none;
        flex-direction: column;
    }
    
    .menu-hamburguesa{
        z-index: 1;
        float: left;  
        display: block;  
    
    }
    .contenedor-x{
        z-index: 1;
    }

   
   
}
